body{
    background-color: #53d4e1;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 80 80' width='80' height='80'%3E%3Cg fill='%23001d8e' fill-opacity='0.68'%3E%3Cpath d='M0 0h80v80H0V0zm20 20v40h40V20H20zm20 35a15 15 0 1 1 0-30 15 15 0 0 1 0 30z' opacity='.5'%3E%3C/path%3E%3Cpath d='M15 15h50l-5 5H20v40l-5 5V15zm0 50h50V15L80 0v80H0l15-15zm32.07-32.07l3.54-3.54A15 15 0 0 1 29.4 50.6l3.53-3.53a10 10 0 1 0 14.14-14.14zM32.93 47.07a10 10 0 1 1 14.14-14.14L32.93 47.07z'%3E%3C/path%3E%3C/g%3E%3C/svg%3E");
text-align: center;
}
.as{
    display: flex;
}
.btn{
    margin-top: 10mm;
    background-color: rgb(0,0,225);
    height: 100px;
    width: 30px;
    border-color: rgb(255, 255, 255);
    padding: 2mm;
    border-radius: 1mm;
    color: white;
    margin: 1mm;
    cursor: pointer;
    text-align: center;
}
div{display: flex;
    justify-content: center;
    align-items: center;}
section{
    margin-bottom: 2%;
    margin-left: 5%;
    width: 80% ;
    font-size: 20px;
    color: white;
    align-items:center;
    justify-content: center;
    
}
.boton{
    border:solid rgb(255, 255, 255);
    background-color:rgb(3, 5, 138);
    border-radius: 1mm;
    border: right 1000px;
    text-align: left;
}
button{
    background-color: rgb(0,0,225);
    border-color: rgb(255, 255, 255);
    padding: 2mm;
    border-radius: 1mm;
    color: white;
    margin: 1mm;
    cursor: pointer;
}
button:hover{
    border-color: rgb(0,0,225);
    background-color: rgb(255, 255, 255);
    color: rgb(0,0,225);
    transition: 100ms;
}
nav{
    display: flex;
    margin-bottom: 0px;
    transform: translateY(-75%);
}
nav:hover{
    transform: translateY(0);
    transition: 1s;
}
.r{text-align: justify;}
section{
    background-color: #297bff;
background-image: url("data:image/svg+xml,%3Csvg width='48' height='64' viewBox='0 0 48 64' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M48 28v-4L36 12 24 24 12 12 0 24v4l4 4-4 4v4l12 12 12-12 12 12 12-12v-4l-4-4 4-4zM8 32l-6-6 10-10 10 10-6 6 6 6-10 10L2 38l6-6zm12 0l4-4 4 4-4 4-4-4zm12 0l-6-6 10-10 10 10-6 6 6 6-10 10-10-10 6-6zM0 16L10 6 4 0h4l4 4 4-4h4l-6 6 10 10L34 6l-6-6h4l4 4 4-4h4l-6 6 10 10v4L36 8 24 20 12 8 0 20v-4zm0 32l10 10-6 6h4l4-4 4 4h4l-6-6 10-10 10 10-6 6h4l4-4 4 4h4l-6-6 10-10v-4L36 56 24 44 12 56 0 44v4z' fill='%236200ff' fill-opacity='0.4' fill-rule='evenodd'/%3E%3C/svg%3E");
}
.b{
    display: block;
    padding: 5px;
    margin-bottom: 2%;
    margin-left: 5%;
    width: 80% ;
    font-style: oblique;
    justify-content: center;
    background-color: #e4e2e8;
background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Ctitle%3Ehoundstooth%3C/title%3E%3Cg fill='%23039401' fill-opacity='0.4' fill-rule='evenodd'%3E%3Cpath d='M0 18h6l6-6v6h6l-6 6H0M24 18v6h-6M24 0l-6 6h-6l6-6M12 0v6L0 18v-6l6-6H0V0'/%3E%3C/g%3E%3C/svg%3E");

}